body {
    font-family: 'Enriqueta', sans-serif;
    font-size: 1.2em;
    color: #820000;
    background: #FFF;
}

a {
    color: #E88B00;
    text-decoration: none;
}

h1 {
    font-size: 1.50em;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.500em;
    color: #E88B00;
}

.logo {
    padding: 20px 20px;
}

.btn {
    font-size: 1em;
    letter-spacing: 2px;
    color: #FAF3BC;
    background: #4FB69F url('img/texture.png') no-repeat right top;
    padding: 15px 30px;
    margin: 40px 0px;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #4CC4A7;
}

ul.nav {
    margin: 110px 0 0 0;
    padding-bottom: 6px;
    list-style: none;
    float: right;
    border-bottom: solid 2px #820000;
}

ul.nav li {
    float: left;
    margin-right: 30px;
}

ul.nav li a {
    color: #2D0A04;
}

ul.nav li a:hover {
    color: #E80000;
}

#intro {
    margin: 50px 0 75px 0;
}

#some-picks img{
    border: 8px solid #FAF3BC;
    margin: 0 0 20px 0;
}

#about-me img{
    border: 8px solid #FAF3BC;
}

#copyright {
    border-top: 8px solid #2A0400;
    padding:  10px 0;
    margin: 15px 0;
    text-align: center;
}

















